<DOCTYPE html>
<html ng-app="app">
	<head>
		
		<script src="/components/angular/angular.min.js"></script>
		<script src="/components/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script src="/components/angular-route/angular-route.min.js"></script>
		<script src="/components/angular-touch/angular-touch.min.js"></script>

		<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
	</head>
	<body>
		
		<div ng-view></div>

		<!-- Main App -->
		<script src="/js/app.js"></script>

		<!-- Sample Feature -->
		<script src="/modules/sample/sample.js"></script>
		<script src="/modules/sample/controllers/sampleIndex.js"></script>

		<!-- Dashboard Feature -->
		<script src="/modules/dashboard/dashboard.js"></script>
		<script src="/modules/dashboard/controllers/dashboardIndex.js"></script>

	</body>
</html>