<link rel="stylesheet" href="/components/metro-bootstrap/dist/css/metro-bootstrap.min.css">

<div class="hack-wrap">

<div class="poll">
        <h2>Poll Question Title</h2>
    <button type="button" class="btn btn-primary btn-lg" data-poll-id="pollid" data-poll-value="yes">Yes</button>
    <button type="button" class="btn btn-primary btn-lg" data-poll-id="pollid" data-poll-value="no">No</button>

    <div><a href="/#/polls/past">Previous Polls</a></div>

    </div>

</div>

        <div class="common-menu">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="/#/menu">Home</a></li>
                    <!-- this is where other Breadcrumb-style nav buttons go -->
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-feedback">
                    <li class="pull-right"><a href="/">Give us feedback</a></li>
                </ul>
            </nav>
        </div>

