      <style type="text/css">
          .poll {
              border-bottom: 1px #999999 solid;
              padding: 20px 0;
          }
          .poll-result {
              display: block;
              background: cornflowerblue;
              margin: 5px 0;
              text-align: center;
              padding: 3px;
          }
      </style>

      <link rel="stylesheet" href="/components/metro-bootstrap/dist/css/metro-bootstrap.min.css">

      <div class="hack-wrap">

    <div class="poll">
        <h2>Poll Question Title</h2>
        <h3>October 2014</h3>
        <p class="chart">
            <span class="poll-result" style="width: 70%;">Yes</span>
            <span class="poll-result" style="width: 30%;">No</span>
        </p>
    </div>
    <div class="poll">
        <h2>Poll #2 Title</h2>
        <h3>September 2014</h3>
        <p class="chart">
            <span class="poll-result" style="width: 23%;">Yes</span>
            <span class="poll-result" style="width: 77%;">No</span>
        </p>
    </div>
    <div class="poll">
        <h2>Poll Q #3 Title</h2>
        <h3>September 2014</h3>
        <p class="chart">
            <span class="poll-result" style="width: 12%;">Yes</span>
            <span class="poll-result" style="width: 88%;">No</span>
        </p>
    </div>

    </div>

      <div class="common-menu">
          <nav>
              <ul class="nav navbar-nav">
                  <li><a href="/#/menu">Home</a></li>
                  <li><a href="/#/polls">Back to Current Poll</a></li>
                  <!-- this is where other Breadcrumb-style nav buttons go -->
              </ul>

              <ul class="nav navbar-nav navbar-right navbar-feedback">
                  <li class="pull-right"><a href="/">Give us feedback</a></li>
              </ul>
          </nav>
      </div>