      <style type="text/css">
          .poll {
              border-bottom: 1px #999999 solid;
              padding: 20px 0;
          }
          .poll-result {
              display: block;
              background: cornflowerblue;
              margin: 5px 0;
              text-align: center;
              padding: 3px;
          }
      </style>

    <div class="poll">
        <h2>Poll Question Title</h2>
        <h3>October 2014</h3>
        <p class="chart">
            <span class="poll-result" style="width: 70%;">Yes</span>
            <span class="poll-result" style="width: 30%;">No</span>
        </p>
    </div>
    <div class="poll">
        <h2>Poll #2 Title</h2>
        <h3>September 2014</h3>
        <p class="chart">
            <span class="poll-result" style="width: 23%;">Yes</span>
            <span class="poll-result" style="width: 77%;">No</span>
        </p>
    </div>
    <div class="poll">
        <h2>Poll Q #3 Title</h2>
        <h3>September 2014</h3>
        <p class="chart">
            <span class="poll-result" style="width: 12%;">Yes</span>
            <span class="poll-result" style="width: 88%;">No</span>
        </p>
    </div>

    <p>
        <a href="/#/">Back to Dashboard</a>
        <a href="/#/polls">Back to feedback</a>
    </p>