
      <style type="text/css">
          .poll-result {
              text-align: center;
              padding: 3px;
              width: 35%;
              margin: 0 7%;
              position: absolute;
              bottom: 0;
          }
          .poll-fill {
              display: block;
              background: cornflowerblue;
              position: absolute;
              bottom: 0;
              height: 100%;
              width: 100%;;
          }
          .poll-number {
              position: relative;
              top: -25px;
          }
          .poll-right {
              right: 0;
          }
          .chart {
              height: 300px;
              position: relative;
          }
      </style>
      <link rel="stylesheet" href="/components/metro-bootstrap/dist/css/metro-bootstrap.min.css">

      <div class="hack-wrap">

    <div class="poll">
        <h2>Voted Poll Title</h2>
        <h3>Results</h3>

        <div class="chart">
            <div class="poll-result" style="height: 70%;">
                <span class="poll-number">3454</span>
                <span class="poll-fill">Yes</span>
            </div>
            <div class="poll-result poll-right" style="height: 30%;">
                <span class="poll-number">1054</span>
                <span class="poll-fill">No</span>
            </div>
        </div>


    </div>
          </div>

      <div class="common-menu">
          <nav>
              <ul class="nav navbar-nav">
                  <li><a href="/#/menu">Home</a></li>
                  <li><a href="/#/polls">Back to Current Poll</a></li>
                  <!-- this is where other Breadcrumb-style nav buttons go -->
              </ul>

              <ul class="nav navbar-nav navbar-right navbar-feedback">
                  <li class="pull-right"><a href="/">Give us feedback</a></li>
              </ul>
          </nav>
      </div>