<link rel="stylesheet" href="/components/metro-bootstrap/dist/css/metro-bootstrap.min.css">
<style>
	.tile {
		width:100% !important;
		height: auto !important;
	}

	.col {
		padding: 0 !important;
	}

	.tile {
		margin: 0 !important;
		border: 0 !important;
	}

	.tile-purple {
		background: #2E0A28 !important;
	}

	.tile-green {
		background: #85A506 !important;
	}

	.tile-red {
		background: #D40518 !important;
	}

	.tile-darkgreen {
		background: #08756F !important;
	}
</style>

<div class="col col-xs-6">
	<div class="thumbnail tile tile-medium tile-purple">
		<a href="#/polls/" >
			<img src="/assets/thumb_1.png" width="100" alt="">
			<h1>Citizen Vote</h1>
		</a>
	</div>
</div>


<div class="col col-xs-6">
	<div class="thumbnail tile tile-medium tile-green">
		<a href="#" >
			<img src="/assets/q_mark_1.png" width="100" alt="">
			<h1>What's On?</h1>
		</a>
	</div>
</div>


<div class="col col-xs-6">
	<div class="thumbnail tile tile-medium tile-red">
		<a href="#" >
			<img src="/assets/pallete_1.png" width="100" alt="">
			<h1>Local Art</h1>
		</a>
	</div>
</div>


<div class="col col-xs-6">
	<div class="thumbnail tile tile-medium tile-darkgreen">
		<a href="#" >
			<img src="/assets/map_1.png" width="100" alt="">
			<h1>Treasure Hunt</h1>
		</a>
	</div>
</div>


<div class="col col-xs-12">
	<div class="thumbnail tile tile-wide tile-orange">


		<a href="#" >
			<img src="/assets/cam.png" width="50" alt="">
			<h1>Take a Selfie!</h1>
		</a>

	</div>
</div>