<link rel="stylesheet" href="/components/metro-bootstrap/dist/css/metro-bootstrap.min.css">
<style>
	.tile {
		width:100% !important;
		height: auto !important;
	}

	.col {
		padding: 0 !important;
	}

	.tile {
		margin: 0 !important;
		border: 0 !important;
		padding: 0 !important;
	}

	.tile-purple {
		background: #2E0A28 !important;
	}

	.tile-green {
		background: #85A506 !important;
	}

	.tile-red {
		background: #D40518 !important;
	}

	.tile-darkgreen {
		background: #08756F !important;
	}

	.tile-black {
		background: #000 !important;
	}

	.video-wrap {
		position: absolute;
		width:100%;
		height: 100%;
		overflow: hidden;
		top:0;
	}

	.video-overlay {
		position: relative;
	}

	.video {
	    -webkit-filter: blur(2px);
	    -webkit-transform: translate3d(0, 0, 0);
	    position: absolute;
	    top:-150%;
	    left:-150%;
	    width: 400%;
	    height: 400%;
	}

	.icon-button {
		margin: 20px auto 0 auto;
		background: #D40518;
		border-radius:200px;
		width:70px;
		height:70px;
	}

	.icon-button img {
		height: 100%;
	}

</style>


<div class="col col-xs-6">
	<div class="thumbnail tile tile-medium tile-purple">
		<a href="#/polls/" >
			<img src="/assets/thumb_1.png" width="100" alt="">
			<h1>Citizen Vote</h1>
		</a>
	</div>
</div>


<div class="col col-xs-6">
	<div class="thumbnail tile tile-medium tile-green">
		<a href="#/whatson" >
			<img src="/assets/q_mark_1.png" width="100" alt="">
			<h1>What's On?</h1>
		</a>
	</div>
</div>


<div class="col col-xs-6">
	<div class="thumbnail tile tile-medium tile-red">
		<a href="#/feedback" >
			<img src="/assets/pallete_1.png" width="100" alt="">
			<h1>Feedback</h1>
		</a>
	</div>
</div>


<div class="col col-xs-6">
	<div class="thumbnail tile tile-medium tile-darkgreen">
		<a href="#/treasurehunt/" >
			<img src="/assets/map_1.png" width="100" alt="">
			<h1>Treasure Hunt</h1>
		</a>
	</div>
</div>


<div class="col col-xs-12">
	<div class="thumbnail tile tile-wide tile-black ">
		
		

		<a href="#/selfie" >
			<div class="video-wrap" id="selfie-overlay">
			
			</div>
			<div class="video-overlay">

				<div class="icon-button">
					<img src="/assets/cam.png" alt="">
				</div>

				<h1>Take a Selfie!</h1>
			</div>
		</a>

	</div>
</div>