<div class="container">
    <h1>Whats On</h1>
      <div class="row">
            <div class="col-md-6">
                <p>{TITLE 1}</p>
                <p>{DESCRIPTION 1}</p>
            </div>
            <div class="col-md-6">
                <p>{TITLE 2}</p>
                <p>{DESCRIPTION 2}</p>
            </div>
        </div>

    <div class="row">
        <div class="col-md-6">
            <p>{TITLE 3}</p>
            <p>{DESCRIPTION 3}</p>
        </div>
        <div class="col-md-6">
            <p>{TITLE 4}</p>
            <p>{DESCRIPTION 4}</p>
        </div>
    </div>
</div>