<div class="container">
    <h1>Whats On</h1>
    <div class="row">
        <div class="event-info"  ng-repeat="data in firstRow" ng-classs="data.category">
            <p>{{data.title}}</p>
            <p>{{data.venue}}</p>
            <button ng-click="goToSection">More Info</button>
        </div>
        <div class="description">
            <p>{{data.short_description}}</p>
            <button ng-click="goBackEvents()">Go Back</button>
        </div>
    </div>

    <div class="row">
        <div class="event-info" ng-repeat="data in secondRow" ng-class="[data.category]">
            <p>{{data.title}}</p>
            <p>{{data.venue}}</p>
            <button ng-click="goToSection()">More Info</button>
        </div>
        <div class="description">
            <p>{{data.short_description}}</p>
            <button ng-click="goBackEvents()">Go Back</button>
        </div>
    </div>
</div>