<div class="col-xs-12">
	<h1>Start your journey!</h1>
	<p>Scan the QR code below to load up your journal to start the treasure hunt! This is unique to you, so make sure to </p>
	
	<div class="text-center">
		<qrcode data="http://www.opencity.io/#/1234/start/"  size="274"></qrcode>
		<br>
		<a href="http://nodejs-webmobile-treasurehunt.dev.opencity.io/#/1234/start/" target="_blank">View Browser</a>
	</div>

	<div class="well">
		<a href="#/menu/" class="btn btn-primary btn-lg btn-block">Done</a>
	</div>

	<div ng-include="'/partials/footer.html'" ng-controller="footerController"></div>
</div>