/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Nov-2014, 12:03:02
    Author     : Kasia
*/


.event-description{
    display:none;
}

.dance{
    background-color:red;
}

.art{
    background-color:blue;
}

.sport{
    background-color:green;
}

.music{
    background-color:yellow;
}

.theatre{
    background-color:yellow;
}

.event{
    background-color:yellow;
}


#owl-other-demo .item, #owl-demo .item{
  margin: 3px;
}
#owl-demo .item .block, #owl-demo .item .block{
  display: block;
  width: 100%;
  height: auto;
}

.owl-controls{
    visibility: hidden !important;
}